<div class="post-container">
    <div class="post-author">
        <div class="icon-container">
            <%= gravatar_image_tag(post.user.email, size:20, alt: post.user.username ) %>
        </div>
        <div class="name-container">
            <%= post.user.name %>
        </div>
    </div>
    <div class="post-body">
        <p><%= post.body %></p>
    </div>
    <div class="like-counter">

        <p>
        <% if post.likes.count != 0 %>
        <%= post.likes.count %> <%= post.likes.count == 1 ? "Like" : "Likes" %></p>
        
        <% end %>
        
        <p>
        <% if post.comments.count !=0 %>
        <%= post.comments.count  %> <%= post.comments.count == 1 ? "Comment": "Comments" %>
        <% end %>
        </p>
    </div>
    <% pre_like = post.likes.find{|like| like.user_id == current_user.id} %>
    <div class="post-controls">
         <% if pre_like %>
            <%= link_to  post_like_path(post, pre_like), data: {turbo_method: :delete} do%>
                <div class="container like-btn liked">
                    <div class="icon-container ">
                        <i class="fa-solid fa-thumbs-up"></i>
                    </div>
                    <div class="text-container">
                        Like
                    </div>
                </div>
            <% end %>
            
            
        <% else %>
        <%= link_to post_likes_path(post), data: {turbo_method: :post} do%>
            <div class="container like-btn ">
                <div class="icon-container ">
                    <i class="fa-solid fa-thumbs-up"></i>
                </div>
                <div class="text-container">
                    Like
                </div>
            </div>    
        <% end %>
            
        <% end %>
        
        <%= link_to post_comments_path(post) do %>
        <div class="container">

            <div class="icon-container">
                <i class="fa-solid fa-comment"></i>
            </div>
            <div class="text-container">
                Comment
            </div>
        </div>
        <% end %>
        
        <div class="container">
            <div class="icon-container">
                <i class="fa-solid fa-share"></i>
            </div>
            <div class="text-container">
                Share
            </div>
        </div>
    </div>

</div>